<header>
  <div class="container">
    <div class="col-1">
      <div class="logo">
        <img
          src="https://logo.com/image-cdn/images/kts928pd/production/0089b7ae1ed394f041c5f7929e111c11e8eafe4d-424x421.png?w=1080&q=72&fm=webp"
          alt="logo"
        />
      </div>
    </div>
    <h2>Bienvenido {{ userName }}</h2>
    <nav>
      <ul>
        <li>
          <a href="/"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li>
          <a href="/cart"><i class="fas fa-shopping-cart"></i> Carrito</a>
        </li>
        <li>
          <a href="/orders"><i class="fas fa-shopping-cart"></i> Mis compras</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i> Mi cuenta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
