header {
    background-color: #111;
    padding: 1em 0;
    border-bottom: 2px solid #00ff99;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    max-width: 70px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    align-items: center;
}

nav ul li a i {
    margin-right: 5px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #00ff99;
}

/* Dropdown */
.nav-item .dropdown-menu {
    background-color: #111;
    border: 1px solid #00ff99;
}

.nav-item .dropdown-menu .dropdown-item {
    color: #ffffff;
}

.nav-item .dropdown-menu .dropdown-item:hover {
    background-color: #00ff99;
    color: #111;
}

.nav-item .dropdown-menu .dropdown-divider {
    border-color: #00ff99;
}