<div class="product-list">
  <div class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img src="/assets/images/products/mac.jpg" />
    </div>
    <div class="product-details">
      <h3>{{ product.name }}</h3>
      <p class="product-price">{{ product.price | currency }}</p>
      <p class="product-description">{{ product.description }}</p>
      <button
        routerLink="/cart"
        class="buy-button"
        (click)="addToCart(product.id)"
      >
        Add to Cart
      </button>
    </div>
  </div>

  <div class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img src="/assets/images/products/mac pro.jpg" />
    </div>
    <div class="product-details">
      <h3>Mac Book Pro</h3>
      <p class="product-price">{{ 1899 | currency }}</p>
      <p class="product-description">The most powerful Mac ever.</p>
      <button class="buy-button">Buy Now</button>
    </div>
  </div>

  <div class="product-card" *ngFor="let product of products">
    <div class="product-image">
      <img src="/assets/images/products/mac pro max.jpg" />
    </div>
    <div class="product-details">
      <h3>Mac Book Air</h3>
      <p class="product-price">{{ 1799 | currency }}</p>
      <p class="product-description">The most powerful Mac ever again.</p>
      <button class="buy-button">Buy Now</button>
    </div>
  </div>
</div>
