<app-navbar></app-navbar>

<br />
<div class="cart">
  <h2>Resumen de Su Compra</h2>
  <ul class="cart-items">
    <li class="cart-item" *ngFor="let item of cartItems">
      <div class="item-details">
        <img
          [src]="item.productPathImage"
          alt="Product Image"
          class="product-image"
        />
        <div class="item-info">
          <h3 class="product-name">{{ item.productName }}</h3>
          <p class="product-price">
            Precio: {{ item.productPrice | currency }}
          </p>
          <p class="product-quantity">Cantidad: {{ item.productQuantity }}</p>
        </div>
      </div>
    </li>
  </ul>
  <h5 class="total">
    Total: <span class="total-price">{{ totalPrice | currency }}</span>
  </h5>

  <h2>Información de Envío</h2>
  <br />

  <div *ngIf="savedAddresses.length > 0" class="form-container">
    <form>
      <label for="savedAddresses">Elegir dirección</label><br />
      <select
        [value]="selectedAddress"
        id="savedAddresses"
        name="savedAddresses"
      >
        <option *ngFor="let address of savedAddresses">
          {{
            address.address +
              ", " +
              address.city +
              ", " +
              address.state +
              ", " +
              address.country +
              ", " +
              address.cp +
              " - " +
              address.phone
          }}
        </option>
      </select>
      <br />
      <button
        class="btn-success"
        (click)="showNewAddressForm()"
        style="margin-left: 0%"
      >
        Agregar Nueva Dirección
      </button>
    </form>
  </div>

  <!-- Formulario de nueva dirección -->
  <div *ngIf="savedAddresses.length == 0" class="form-container">
    <form>
      <label for="street">Calle:</label>
      <input
        type="text"
        id="street"
        [(ngModel)]="street"
        name="street"
        required
      />

      <label for="city">Ciudad:</label>
      <input type="text" id="city" name="city" [(ngModel)]="city" required />

      <label for="cp">CP:</label
      ><input type="text" id="cp" name="cp" [(ngModel)]="cp" required />

      <label for="state">Estado:</label>
      <input type="text" id="state" name="state" [(ngModel)]="state" />

      <label for="country">Pais:</label>
      <input type="text" id="country" name="country" [(ngModel)]="country" />

      <label for="phone">Teléfono:</label>
      <input type="text" id="phone" [(ngModel)]="phone" name="phone" required />
      <br />

      <button
        *ngIf="temporaryAddress.length > 0"
        class="btn-success"
        (click)="hideNewAddressForm()"
      >
        Usar dirección Guardada
      </button>
    </form>
  </div>
  <br />
  <h2>Datos de Pago</h2>

  <!-- Selector de tarjetas -->
  <div *ngIf="savedCards.length > 0" class="form-container">
    <form>
      <label for="savedCards">Tarjeta Guardada:</label><br />
      <select
        id="savedCards"
        [(ngModel)]="selectedCard"
        (change)="onCardsChange($event)"
        name="savedCards"
      >
        <option *ngFor="let card of savedCards; let i = index" [value]="i">
          {{ "************" + card.cardNumber.substring(12, 16) + "" }}
        </option>
      </select>
      <br />
      <button class="btn-success" (click)="showNewCardForm()">
        Agregar Nueva Tarjeta
      </button>
    </form>
  </div>

  <div *ngIf="savedCards.length == 0" class="form-container">
    <form>
      <label for="cardName">Nombre del Titular:</label>
      <input
        type="text"
        id="cardName"
        [(ngModel)]="cardName"
        name="cardName"
        required
      />
      <label for="cardNumber">Número de Tarjeta:</label>
      <input
        type="text"
        maxlength="16"
        id="cardNumber"
        [(ngModel)]="cardNumber"
        name="cardNumber"
        required
      />

      <label for="cardExpiration">Fecha de Vencimiento:</label>
      <input
        type="date"
        id="cardExpiration"
        [(ngModel)]="cardExpiration"
        name="cardExpiration"
        required
      />
      <label for="cardCvv">CVV:</label>
      <input
        type="text"
        id="cardCvv"
        [(ngModel)]="cardCvv"
        name="cardCvv"
        maxlength="3"
        required
      />
      <label for="cardType">Tipo de Tarjeta:</label>
      <select
        [(ngModel)]="selectedCardType"
        (change)="onCardTypeChange($event)"
        name="cardType"
      >
        <option *ngFor="let type of cardTypes; let i = index" [value]="i + 1">
          {{ type }}
        </option>
      </select>
      <br />
      <button
        *ngIf="temporaryCard.length > 0"
        class="btn-success"
        (click)="hideNewCardForm()"
      >
        Usar Tarjeta Guardada
      </button>
    </form>
  </div>
  <br />
  <button
    *ngIf="validDataToRealizeCheckout()"
    class="btn-success"
    (click)="processCheckout()"
    style="margin-left: 40%"
  >
    Realizar pedido
  </button>
</div>

<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>
